
@{
    ViewBag.Title = "ErrorMessage";
}

<h2>ErrorMessage</h2>

<h2>Information</h2>
<ul>
    <li>使用者： @TempData["UserName"]</li>
    <li>時間： @TempData["Time"]</li>
    <li>訊息： @TempData["ErrorMessage"]</li>


</ul>